@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-family: "PT Sans", sans-serif;
  --secondary-font-family: "Baloo 2", cursive;
  --brand-color: #ed6435;
  --primary-background-color: #faf4f2;
  --secondary-background-color: #fff;
  --primary-text-color: #3c3731;
  --secondary-text-color: #958b7e;
  --tertiary-text-color: #45cbda;
  --hero-btn-background-color: #faf4f2;
  --socials-btn-text-color: #fff;
  --socials-btn-background-color: #45c1c7;
  --socials-btn-background-color-hover: #32a1a7;
  --primary-btn-text-color: #45c1c7;
  --secondary-btn-text-color: #f06435;
  --primary-btn-background-color: #b2e7e9;
  --secondary-btn-background-color: #ffe6d4;
  --primary-border-color: #ffe6d4;
  --secondary-border-color: #8dd6d9;
  --cards-background-color: #fcf4f2;
  --primary-btn-hover-background-color: #ffe6d4;
  --secondary-btn-hover-background-color: #b2e7e9;
  --hero-btn-hover-background-color: #45c1c7;
  --primary-btn-hover-text-color: var(--secondary-btn-text-color);
  --secondary-btn-hover-text-color: var(--tertiary-text-color);
  --hero-btn-hover-text-color: #fff;
  --contacts-header-background-color: #f2e8e4;
  --menu-links-text-color: #6b6b7c;
}

body{
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

ul, ol{
  list-style-type: none;
}

a{
  text-decoration: none;
}

button{
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
